*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right , rgb(187, 182, 182) , rgb(182, 173, 173));
}
.line1 , .line2 , .line3 , .line4, .line5, .line6{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.box1 , .box2 , .box3, .box4, .box5 , .box6,.box7,.box8 , .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16, .box17, .box18{
    height: 170px;
    background-color: white;
    width: 219px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1 button , .box2 button, .box3 button, .box4 button, .box5 button, .box6 button, .box7 button, .box8 button, .box9 button, .box10 button, .box11 button, .box12 button, .box13 button, .box14 button, .box15 button , .box16 button , .box17 button , .box18 button{
    cursor: pointer;
}
